/***** 
    font-family:'thuluth-decorated';
    font-family:'cairo-bold';
*****/
/** Global Style **/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'cairo-bold';
  outline: none;
  
}
:root{
  --main-color: hsl(45, 54%, 58%);
  --transition-1: 0.5s ease-in-out;
  --transition-2: 0.3s all ease-in-out;
  --transition-3: 0.7s ease-in-out;

}
::-webkit-scrollbar
{
  width: 0;
}
body{
  direction: rtl;
  scroll-behavior: smooth;
}

ul li {list-style: none;}
.container{
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}

section{
  padding: 70px 0;
}
section h3{
  font-size: 30px;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 50px;
  position: relative;
}
section h3::after,
section h3::before{
  content: "";
  position: absolute;
  background-color: var(--main-color);
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
}
section h3::after{
  width: 50px;
  bottom:-10px ;
}
section h3::before{
  width: 100px;
  bottom:0px ;
}

/***** header ********/

.header{
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #000;
  transition: var(--transition-1);

}
.header.active
{
  background-color: rgba(0, 0, 0, .6);
}
.header.active .container{
  height: 80px;
}
.header ul{
  display: flex;
}

.header ul li{
  position: relative;
  cursor: pointer;
  color: #fff;
  transition: var(--transition-2);
}
.header ul li::after{
  content: "";
  position: absolute;
  bottom: -5px;
  width:0;
  left: 0px;
  background-color: #fff;
  height: 2px;
  transition: var(--transition-2);
}
.header ul li:hover,
.header ul li.active{
  color: var(--main-color);
}
.header ul li:hover::after,
.header ul li.active::after{
  width:100%;
  background-color: var(--main-color);
}



.header .bars{
  display: none;
}
.header li:not(:first-of-type),
.header li:not(:last-of-type){
  margin: 0 15px;
}

.header .logo{
  font-family:'thuluth-decorated';
  font-size: 55px;
  cursor: pointer;
}
.active .logo{
  color: var(--main-color);
}

 /********************************* main section************************** */

 .main{
  background: url(../images/اجمل\ الصور\ للكعبة\ المشرفة\ ١.jpg  ) center center/cover no-repeat;
 }
 .main .container{
  min-height: 100vh;
 }

 .main .title{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
 }

 .main .title h2{
  line-height: 1.9;
  font-size: 40px;
  margin-bottom: 30px;
 }
 .title .btn{
  border: 2px solid #fff;
  background: transparent;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 400px;
  color: inherit;
  display: flex;
  align-items: center;
  position: relative;
  transition:var(--transition-2);
  padding: 5px 15px;
 }
 .title .btn li{
  font-size: 25px;
   margin-right: 20px;
 }
 .title .btn::after{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width:0;
  height: 100%;
  transition: var(--transition-2);
  background-color: #000;
  z-index: -1;

 }
 .title .btn:hover{
  color: var(--main-color);
  border: 2px solid var(--main-color);
 }
 .title .btn:hover::after{
  width: 100%;
 }
 /* ******************************hadith section ***************** */
 .hadithContainer{
  min-height: 350px;
  position: relative;
  box-shadow: 4px 4px 4px 0 #d1d9e6 inset ,
  -4px -4px 4px 0 #d1d9e6 inset;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:  50px 20px;
 }
 .buttons{
  display: flex;
  justify-content: space-between;
 }
 
 .hadith .buttons div:not(:nth-child(2)){
  background:var(--main-color);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(14, 17, 15, 0.4);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
 }
 .hadith .buttons .disabled{
  opacity: 0.4;
  cursor: not-allowed !important;
 }
 .buttons .number{
  padding: 10px 20px;
  margin-top: 20px;
  color: var(--main-color);
  background: transparent;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(7, 8, 7, 0.4);
  border-radius: 5px;
 }

 /* *****************end hadith section style ************ */
 /*** start lecture section style ***** */

.lectures-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.lectures-container .right,
.lectures-container .left{
  width: 48%;

}

/* right-lecture style  */
.lectures-container .right .lec{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  padding: 20px;
  transition: var(--transition-1);
  cursor: pointer;
  border-radius: 10px;
}
.lectures-container .right .lec:hover{
  transform: scale(.95);
}

.lec .lec-text{
  width: calc(100% - 150px);
  color: #232323;

}
.lec img{
  width:120px ;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: auto;

}
.lec-text h4{
  font-size: 19px;
}
.lec-text p{
  font-size: 16px;
}

/* lefe lecture style  */
.lectures-container .left{
  position: sticky;
  top: 0;
}

.lectures-container .left iframe{
  border-radius: 10px;
  width: 100%;
  height: 400px;

}

/****** Quran Section style ******* */
.surhasContainer{
  display: flex;
  flex-wrap: wrap;
}
surhasContainer p{
  font-family:sans-serif;
}
 .surhasContainer .surah{
  min-height: 100px;
  min-width: 150px;
  box-shadow:0 0 5px rgba(0, 0, 0, .4);
  margin-bottom: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  cursor: pointer;
  transition:var(--transition-1);
  color: #232323;
  font-size: 17px;
  margin: 5px auto;

 }
 .surhasContainer .surah:hover{
  transform:scale(1.05) ;
 }

  /* ***********************start pray time style **************/
  .pray .cards{
    display: flex;
    flex-wrap: wrap;
  }
  .cards .card{
    width: 250px;
    min-height: 320px;
    position: relative;
    box-shadow:0 0 5px rgba(0, 0, 0, .4) ;
    padding: 30px 20px;
    margin: 20px auto;
  }
  .card .circle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circle svg{
    width: 210px;
    height: 210px;
  }
  .circle svg circle {
    width: 100%;
    height: 210px;
    fill: none;
    stroke-width: 10;
    stroke: var(--main-color);
    stroke-dasharray: 2;
    stroke-dashoffset: 1000;
    animation: dash 2s linear infinite;
    transform: translate(5px,5px);
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

  .circle .praytime{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: var(--main-color);
    font-size: 40px;
    font-family:cursive ;
  }

  .card p{
    color: var(--main-color);
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
  }
  .quran .surhasContainer .surah p{
    font-family: cursive !important;
    font-weight: 900;
  }

  /* *************************end pray time style************ */


 /* *******************************start popup *********************** */
 .surah-popup{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
  overflow-y: scroll;
  transform: translateX(100%);
  padding: 0;

 }
 .surah-popup.active{
  transform: translateX(0);
  transition: .6s transform ease-in-out;
 }

 .surah-popup::-webkit-scrollbar{
  width: 10px;
  background-color: #000;

 }
 .surah-popup::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
 }

 .close-popup{
  position: sticky;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  color: #121212;
  cursor: pointer;
  border-radius: 20px;
  transition: var(--transition-2);
 }
 .close-popup:hover{
  transform: rotate(180deg);
 }

 .surah-popup .ayat{
  padding: 20px;
  width: calc(100%-40px);
  margin-top: 20px;
  margin-right: 20px;
  color: #121212;
  text-align: center;
 }
 .surah-popup .ayat p{
  line-height: 2;
  width: 100%;
  border-bottom: 2px solid var(--main-color);
  margin-bottom: 10px;
  font-family: emoji;
}
 /* end popup  */
 .footer {
  top: 100px;
  background: #242424;
  color: #fff;
  z-index: 1;
  --footer-background:#99760e;
  display:grid;
  position: relative;
  grid-area: footer;
}

.footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 8rem;
  background: var(--footer-background);
}

.footer .bubbles {
  position: absolute;
  top:0;
  left:0;
  right:0;
  height:1rem;
  background:var(--footer-background);
  filter:url("#blob");
}

.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  
}



.footer-content {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--footer-background);
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section.links ul li a {
  color: #fff;
}

.footer h1 {
  font-size: 24px;
}

.footer p {
  font-size: 16px;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  margin-bottom: 10px;
  color: #f8f8f8;
}

.contact-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ffffff;
  background-color: #aaaaaa;
  border-radius: 10px;
}

.btn-primary {
  background-color: #ff5733;
  color: #fff;
  border: none;
  top: 0%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ff5733;
}

.btn-primary:hover {
  transition: 100ms;
  background-color: #333;
  color: #ff5733;
  border: 1px solid #ff5733;
}

.footer-bottom {
  background: #222;
  text-align: center;
  padding: 0 0;
}

.about-logo {
  text-align: center; 
  padding: 20px; 
  font-family:'thuluth-decorated';
  font-size: 50px;
}

.about-logo img {
  max-width: 100%;
  max-height: 100%;
  background: #333;
  border: 1px solid #333;
  border-radius: 50%;
  max-width: 100px; 
  height: auto; 
}


.scrollBtn{
  position: fixed;
  right: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  border-radius: 50%;
  font-size: 25px;
  transition:1s bottom;
  bottom: -50px;
}
.scrollBtn.active{
  bottom: 20px;
}
/*  start  Responsive media query  */

@media (max-width : 1024px){
  .lectures-container .right, .lectures-container .left{
    width: 98%;
  }
.header .bars{
  display: block;
  font-size: 25px;
  color: #fff;
cursor: pointer;
}
.header ul{
  position: fixed;
  left: 0;
  top: 80px;
  width: 220px;
  background-color: rgba(0, 0, 0, .6);
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
  transform: translateX(-100%);
  transition: var(--transition-3);
}
.header ul.active{
  transform: translateX(0);
 
}


  .header li:not(:first-of-type),
 .header li:not(:last-of-type) {
    margin: 15px 0;
}
  

}
 @media(max-width:767px){
  .footer-content{
    display:flex;
    flex-direction: column;
    align-items: center;     
  }
   .footer-content ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
  } 
  .footer-content ul li{
    margin: 0 10px;
  }

} 

